body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    overflow-x: hidden;
    text-align: center;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 400px;
    height: 55%;
    max-width: 300px;
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #333;
}

.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    color: #555;
}

.input-group input {
    width: calc(100% - 20px); /* Adjusted width */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 14px;
}

button {
    width: calc(100% - 20px); /* Adjusted width */
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: rgb(15, 162, 127);
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(9, 98, 77);
}

.image-container img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 20px;
}

footer {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
    background-color: rgb(15, 162, 127);
}

.social-footer a {
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

.social-footer a:hover {
    text-decoration: underline;
}
